.rotation {
  -moz-animation: move 20s linear 0s infinite;
  -webkit-animation: move 20s linear 0s infinite;
  -o-animation: move 20s linear 0s infinite;
  animation: move 20s linear 0s infinite;
}

@keyframes move {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}

@-moz-keyframes move {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}

@-webkit-keyframes move {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}

@-o-keyframes move {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}
