.khan__buy-link {
  color: #2f80ed;
  text-decoration: none;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.khan__buy-link::after {
  content: "→";
  padding-left: 7px;
}
