 .rotation__header {
  -moz-animation: move 20s linear 0s infinite;
  -webkit-animation: move 20s linear 0s infinite;
  -o-animation: move 20s linear 0s infinite;
  animation: move 20s linear 0s infinite;
}
